*.pdb
*.exe
**/obj/**
*.dll
*.class
**/bin/**
**/node_modules/**
**/__pycache__/**
*.pyc
*.sublime-workspace
*.sconsign.dblite
*.o
*.os
*.a
*.dylib
**/README.html
*.stackdump
.DS_Store
!lib/**/*.dll
!lib/**/*.exe
**/target/**
